{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
{% load static %}
<script src="{% static 'js/datepicker.js' %}"></script>

<div class="modal-content">
    
    <form hx-post="{% url 'finance:bulk_edit_invoices' %}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Bulk Update Invoices</h5>
      </div>
      <div class="modal-body">
        
        <div class="container">
            <p style="color:red">{{ message }}</p>
            <div class="row">
              <div class="col-sm">
                Date:<input type="text" name="date" class="dateinput form-control date" required="" id="id_date">
                {{form.payment_method|as_crispy_field}}
                {{form.check_number|as_crispy_field}}
              </div>
              <div class="col-sm">
                <table class="table">
                    <thead>
                        <tr>
                            <td>Invoice</td>
                            <td>Amount</td>
                            <td>Invoice Date</td>
                            <td>Date Due</td>
                            <td></td>
                        </tr>
                    </thead>
                {% for x in invoices %}
                <tr>
                    <td>{{ x.invoice_number }}</td>
                    <td>{{ x.total }}</td>
                    <td>{{ x.invoice_date }}</td>
                    <td>{{ x.date_due }}</td>
                    <td><input name="payment" type="checkbox" value="{{ x.id }}" /></td>
                </tr>
                {% endfor %}
                </table>
              </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" data-bs-dismiss="modal">Cancel</button>
        <button type="submit">Save</button>
      </div>
      <input type="hidden" id="vendor" name="vendor" value="{{ vendor }}">
    </form>

    {% endwith %}