{% load static %}
{% load crispy_forms_tags %}

<select class="custom-select mb-4" id="items" hx-trigger="change, itemListChanged from:body" name="items" hx-get="{% url 'dashboard:selected_item_list' %}" hx-target="#items">
    {% if item_status.id %}<option value="{{ item_status.id}}" selected>{{item_status.name}}</option>{% endif %}
    {% for x in status %}
      <option value="{{ x.id }}">{{ x.name }}</option>
    {% endfor %}
</select>
    <table>
    {% for x in items %}
    
    
    <tr>
        <td><a href="{% url 'workorders:overview' id=x.workorder_hr %}">{{ x.workorder_hr }} -- {{ x.description }} -- {{ x.workorder.hr_customer }} </a></td>
        <td><button class="btn btn-primary-outline" hx-get="{% url 'workorders:item_status' pk=x.pk%}" hx-target="#dialog">{% if x.job_status %}<img src="{{ x.job_status.icon.url }}" style="width:20px;height:20px;">{% endif %}</button></td>
        <td>{% if x.notes %}
            <button class="btn btn-primary-outline" hx-get="{% url 'workorders:notes' pk=x.pk%}" hx-target="#dialog">
                <img src="{% static 'img/site/alert-note-30.png' %}" style="width:20px;height:20px;">
            </button>
        {% else %}
            <button class="btn btn-primary-outline" hx-get="{% url 'workorders:notes' pk=x.pk%}" hx-target="#dialog">
                <img src="{% static 'img/site/emptynote-32.png' %}" style="width:20px;height:20px;">
            </button>
        {% endif %}</td>
        </tr>
    
    {% endfor %}
    </table>