<div class="container">
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="">Item</th>
                    <th scope="col" class="">High Cost</th>
                    <th scope="col" class="">140%</th>
                    <th scope="col" class="">Online Price</th>
                    <th scope="col" class="">Retail Store Price</th>
                    <th scope="col" class="">Actual Percent</th>
                    <th scope="col" class="">Date online price changed</th>
                      <th scope="col" class=""></th>
                </tr>
            </thead>
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.high_cost }}</td>
                    <td>{{ item.oneforty_percent }}</td>
                    <td>{{ item.online_store_price }}</td>
                    <td>{{ item.retail_store_price }}</td>
                    <td>{{ item.actual_markup }}</td>
                    <td>{{ item.date_last_price_change|date:"M d, Y"}}</td>
                      <td><button hx-get="{% url 'onlinestore:edit_store_item' %}?item={{ item.id }}&detail=1" hx-target="#dialog">Edit</button></td>
                </tr>
        </table>
    </div>
</div>