{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Copy Template</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">

    
        <select class="custom-select mb-4" id="id_subcategory" name="subcategory">


        <option selected>SubCategory</option>
        {% for object in subcategory %}
            <option value="{{ object.id }}">{{ object.name }}</option>
        {% endfor %}
    
        </select>
    
        <br/>

    
      <label class="form-label requiredField" for="id_name">
        Name:
        <span class="asteriskField"></span>
      </label>
      <input type="text" id="name" label="name" name="name">

        <br/>
        <label class="form-label requiredField" for="id_description">
            Description:
            <span class="asteriskField"></span>
          </label>
          <input type="text" id="description" label="description" name="description">

  </div>
  <input type="hidden" id="cat" name="category" value="{{ catid }}">
  <input type="hidden" id="template" name="template" value="{{ template }}">
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>
</form>
{% endwith %}