{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
  <div class="col-md-3 mb-sm-0">
      <div class="card">
          <div class="card-header">
          Customer Info
          </div>
          <div class="card-body" id="custinfo" hx-trigger="CustomerEdit from:body" hx-target="this" >
              {% include 'customers/partials/customer_info.html' %}
          </div>
          <div class="card-footer">
              <button hx-get="{% url 'customers:edit_customer' %}?customer={{ customer.id }}" hx-target="#dialog">Edit Customer</button>
              <button hx-get="{% url 'customers:cust_info' %}?customer={{ customer.id }}" hx-target="#custinfo">Refresh</button>
          
          </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="card">
          <div class="card-header">
          Contact Info
          </div>
              <div class="card-body" id="contactinfo">
                {% include 'customers/partials/contact_info.html' %}
                  
              </div>
              <div class="card-footer">
                <button hx-get="{% url 'customers:edit_contact' %}?contact={{ contact.id }}&customer={{ customer.id }}&workorder={{ workorder.id }}" hx-target="#dialog">Edit</button>
                <button hx-get="{% url 'customers:new_contact' %}?customer={{ customer.id }}&workorder={{ workorder.id }}" hx-target="#dialog">Add</button>
                <button hx-get="{% url 'customers:change_contact' %}?customer={{ customer.id }}&workorder={{ workorder.id }}" hx-target="#dialog">Change</button>
                <button hx-get="{% url 'customers:contact_info' %}?workorder={{ workorder.id }}" hx-target="#contactinfo">Refresh</button>
              </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="card">
          <div class="card-header">
          Workorder Info
          </div>
          <div class="card-body" id="workorderinfo">
            {% include 'workorders/partials/workorder_info.html' %}
          </div>
          <div class="card-footer">
            <button hx-get="{% url 'workorders:edit_workorder' %}?workorder={{ workorder.id }}" hx-target="#dialog">Edit</button>
            <button hx-get="{% url 'workorders:workorder_info' %}?workorder={{ workorder.id }}" hx-target="#workorderinfo">Refresh</button>
          </div>
      </div>
  </div>
  <div class="col-md-3">
      <div class="card">
          <div class="card-header">
          Customer Order History
          </div>
          <div class="card-body">
            {% include 'workorders/partials/workorder_history.html' %}
          </div>
          <div class="card-footer"></div>
      </div>
      <a href="{% url 'workorders:copy_workorder' id=workid %}" class="btn btn-primary btn-sm" role="button">Duplicate Workorder</a>
  </div>
</div>

<hr>

<!-- Modal Area -->
<div class="container">
  <div class="px-5 my-5 text-center">
    <h1>Workorder Items</h1>
    <p>Add Items below</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Workorder</th>
        <th>Category</th>
        <th>Description</th>
        <th>Qty</th>
        <th>Price / Unit</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody hx-trigger="load, itemListChanged from:body" hx-get="{% url 'workorders:workorder_item_list' id=workid %}" hx-target="this">
      <tr>
        <td class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </td>
      </tr>
    </tbody>
  </table>

  <button hx-get="{% url 'workorders:add_item' parent_id=workid %}" hx-target="#dialog" class="btn btn-primary">
  Add an item
  </button>
  





































<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<div id="modal2" class="modal fade">
  <div id="dialog2" class="modal-dialog modal-lg" hx-target="this"></div>
</div>





























{% endblock content %}


{% block scripts %}

<script>

    $(document).ready(function () {
      $("#id_customer").select2();
      $('#id_customer').on('select2:select', (e) => {
        htmx.trigger("#id_customer", "change")
      });
    })

    const modal = new bootstrap.Modal(document.getElementById("modal"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog") {
        modal.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
        modal.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog").innerHTML = ""
    })
    

    const modal2 = new bootstrap.Modal(document.getElementById("modal2"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog2") {
        modal2.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog2" && !e.detail.xhr.response) {
        modal2.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog2").innerHTML = ""
    })


</script>

{% endblock %}