{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<script src="{% static 'js/order_out_form.js' %}"></script>
<script src="{% static 'js/setprice_form.js' %}"></script>
<div class="row">
  <div class="col-md-3 mb-sm-0">
    <div id="customer-info-card" class="card" hx-trigger="load, CustomerAdded from:body" hx-get="{% url 'customers:cust_info'  %}?customer={{ customer.id }}" hx-target="this">
      {% include 'customers/partials/customer_info.html' %}
      </div>
  </div>
  <div class="col-md-3">
    <div id="contact-card" class="card" hx-trigger="load, ContactChanged from:body" hx-get="{% url 'customers:contact_info'  %}?contact={{ contact.id }}&workorder={{changeworkorder}}&customer={{changecustomer}}" hx-target="this">
      {% include 'customers/partials/contact_info.html' %}
      </div>
      <div id="void-status" hx-trigger="load, WorkorderVoid from:body" hx-get="{% url 'workorders:void_status'  %}?workorder={{workorder.id}}" hx-target="this">
        {% include 'workorders/partials/void_status.html' %}
        </div>
  </div>
  <div class="col-md-3">
      <div id="workorder-info-card" class="card" hx-trigger="WorkorderInfoChanged from:body" hx-get="{% url 'workorders:workorder_info'  %}?workorder={{workorder.id}}" hx-target="this">
        {% include 'workorders/partials/workorder_info.html' %}
      </div>
      {% include "workorders/partials/workorder_delivery_block.html" %}
  </div>
  <div class="col-md-3">
      <div class="card">
          <div class="card-header">
          Customer Order History
          </div>
          <div class="card-body">
            {% include 'workorders/partials/workorder_history.html' %}
          </div>
          <div class="card-footer"></div>
      </div>
      {% if workorder.quote == '1' %}
        <a href="{% url 'workorders:quote_to_workorder'  %}?quote={{workorder.quote_number}}" class="btn btn-primary btn-sm" role="button">Convert to Workorder</a>
        <a href="{% url 'workorders:abandon_quote'  %}?quote={{workorder.quote_number}}" class="btn btn-primary btn-sm" role="button">Reject Quote</a>
      {% else %}
        <a href="{% url 'workorders:copy_workorder' id=workid %}" class="btn btn-primary btn-sm" role="button">Duplicate Workorder</a>
        <a href="{% url 'workorders:copy_workorder_to_quote' id=workid %}" class="btn btn-primary btn-sm" role="button">Duplicate as Quote</a>
        {% if workorder.completed == 0 %}
          <a href="{% url 'workorders:complete_status'  %}?workorder={{workorder.id}}" class="btn btn-primary btn-sm" role="button">Complete Workorder</a>
          <p>
          <p>
          {% if workorder.orderout_waiting == 1 %}
            <a href="{% url 'workorders:orderout_wait'  %}?workorder={{workorder.id}}" class="btn btn-primary btn-sm" role="button">Waiting on orderout</a>
          {% else %}
            <a href="{% url 'workorders:orderout_wait'  %}?workorder={{workorder.id}}" class="btn btn-primary btn-sm" role="button">No orderouts Pending</a>
          {% endif %}
        {% else %}
          <a href="{% url 'workorders:complete_status'  %}?workorder={{workorder.id}}" class="btn btn-primary btn-sm" role="button">Un-Complete Workorder</a>
        {% endif %}
      {% endif %}
      
  </div>
</div>

<hr>

<div class="container">
  {% include "workorders/partials/retail_items.html" with workorder=workorder %}
</div>


<!-- Modal Area -->
<div class="container">
  <div class="px-5 my-5 text-center">
    <h1>Workorder Items</h1>
    <p>Add Items below</p>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col" class="">Category</th>
        <th scope="col" class="">SubCategory</th>
        <th scope="col" class="">Description</th>
        <th scope="col" class="">Qty</th>
        <th scope="col" class="">Price / Unit</th>
        <th scope="col" class="">Total Price</th>
        <th scope="col" class=""></th>
        <th scope="col" class=""></th>
        <th scope="col" class="">Notes</th>
        <th scope="col" class="">Billable</th>
        <th scope="col" class="">Tax Exempt</th>
        <th scope="col" class="">Status</th>
        <th scope="col" class="">Details</th>
        <th scope="col" class=""></th>
      </tr>
    </thead>
    <tbody hx-trigger="load, itemListChanged from:body" hx-get="{% url 'workorders:workorder_item_list' id=workid %}" hx-target="this">
      <tr>
        <td class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </td>
      </tr>
    </tbody>
  </table>
  
  {% if workorder.completed == 0 %}
      
            <button hx-get="{% url 'workorders:add_item' parent_id=workid %}" hx-target="#dialog" class="btn btn-primary">Add an item</button>

            {% if workorder.internal_company == "Krueger Printing" %}
              <a
                href="{% url 'workorders:pos_for_workorder' workorder.id %}"
                class="btn btn-primary"
              >
                Add POS Item
              </a>
            {% endif %}

            <a href="{% url 'pdf:packing_slip' id=workid %}" class="btn btn-primary" target="_blank">Create Packing Slip</a>
       
          {% if workorder.quote == '1' %}
   
            <a href="{% url 'pdf:invoice_pdf' id=workid %}" class="btn btn-primary" target="_blank">Generate Quote</a>
       
          {% endif %}
    
  {% else %}
  <p>
    <br>
    <p>
    <table class="table">
      <tr>
        <td>
              
            {% if workorder.internal_company == 'LK Design' or workorder.checked_and_verified == 1 %}
            <a href="{% url 'pdf:invoice_pdf' id=workid %}" class="btn btn-primary" target="_blank">Create PDF Invoice</a>
            {% endif %}
        </td>
        <td>
          <a href="{% url 'pdf:packing_slip' id=workid %}" class="btn btn-primary" target="_blank">Create Packing Slip</a>
        </td>
         
        <td>
          {% if workorder.completed == '1' %}
          {% endif %}
          
          
          
          {% if workorder.invoice_sent %}
            Invoice Sent
          {% else %}
            <a href="{% url 'workorders:invoice_sent' pk=workid %}" class="btn btn-primary" role="button">Invoiced</a>
          {% endif %}
        </td>   
            
        <td>  
            {% if workorder.date_billed %}
              Date Billed: {{ workorder.date_billed }} 
            {% endif %}
        </td>

        <td>
            {% if request.user.is_staff %} 
              {% if workorder.completed == 1 and workorder.checked_and_verified == 0 %}
                <a href="{% url 'workorders:verify' pk=workid %}" class="btn btn-primary" role="button">Verify</a>
              {% elif workorder.completed == 1 and workorder.checked_and_verified == 1 %}
                verified
              {% endif %}
        </td>
        <td>
              {% if workorder.date_billed is None%}
                <a href="{% url 'workorders:billed' id=workid %}" class="btn btn-primary" role="button">Bill Invoice</a>
              {% endif %}
            {% endif %}
        </td>
        
          </tr>
        </table>
          

  {% endif %}



































<div id="modal" class="modal fade" >
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<div id="modal2" class="modal fade">
  <div id="dialog2" class="modal-dialog modal-lg" hx-target="this"></div>
</div>

<div id="modal3" class="modal fade" >
  <div id="dialog3" class="modal-dialog" hx-target="this"></div>
</div>





























{% endblock content %}


{% block scripts %}

<script src="{% static 'js/order_out_form.js' %}"></script>

<script>

  

    $(document).ready(function () {
      $("#id_customer").select2();
      $('#id_customer').on('select2:select', (e) => {
        htmx.trigger("#id_customer", "change")
      });
    })

    /*$('#papers').select2({
      placeholder: 'Select an option',
      dropdownParent:'#modal3'
    });*/

    $('#somepapers').select2({
      dropdownParent: $('#modal3')
    });

    const modal = new bootstrap.Modal(document.getElementById("modal"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog") {
        modal.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
        modal.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog").innerHTML = ""
    })
    

    const modal2 = new bootstrap.Modal(document.getElementById("modal2"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog2") {
        modal2.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog2" && !e.detail.xhr.response) {
        modal2.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog2").innerHTML = ""
    })

    const modal3 = new bootstrap.Modal(document.getElementById("modal3"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog3") {
        modal3.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog3" && !e.detail.xhr.response) {
        modal3.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog3").innerHTML = ""
    })


</script>

{% endblock %}