{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
<script src="{% static 'js/datepicker.js' %}"></script>

{% block content %}


<h1>Add Bill Payable</h1>
<br/>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <p>
          <p>
            <form method="POST" action="{% url 'finance:add_invoice' %}">
                {% csrf_token %}
                {% if message %}<mark class="red">{{ message }}</mark>{% endif %}
                <select class="custom-select mb-4" id="id_vendor" hx-trigger="change" name="vendor" hx-get="{% url 'finance:bills_by_vendor' %}" hx-target="#vendor_invoices">
                  <option selected>Select Item</option>
                  {% for x in vendors %}
                    <option value="{{ x.id }}">{{ x.name }}</option>
                  {% endfor %}
                </select>
                <br/>
                {{ form.as_p }}
    

                <!-- <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                  {% for x in vendors %}
                    <option value="{{x.name}}">
                  {% endfor %}
                </datalist> -->

            <br/>
                <button type="submit" class="btn btn-secondary">Add Bill Payable</button>

            </form>
      </div>
      
      <div class="col-sm-9">
        <div id="vendor_invoices">
          <a href="{% url 'finance:add_invoice' %}">All Bills except Essendant</a> | <a href="{% url 'finance:add_invoice' vendor=1 %}">Show Essendant Bills</a><br>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="">Vendor</th>
                  <th scope="col" class="">Date</th>
                  <th scope="col" class="">Amount</th>
                  <th scope="col" class="">Total</th>
                  <th scope="col" class="">Calculated Total</th>
                  <th scope="col" class="">Invoice #</th>
                  <th scope="col" class="">Date Due</th>
                  <th scope="col" class=""></th>
                  <th scope="col" class=""></th>
                  <th scope="col" class="">Bulk Edit</th>
                </tr>
              </thead>
              <tbody>
                {% for x in bills %}
                  {% if x.paid is False %}
                    <tr>
                        <td>{{ x.vendor }}</td>
                        <td>{{ x.invoice_date }}</td>
                        <td>{{ x.amount }}</td>
                        <td>{{ x.total }}</td>
                        <td>{{ x.calculated_total }}</td>
                        <td>{{ x.invoice_number }}</td>
                        <td>{{ x.date_due }}</td>
                        <td><a href='{{ x.get_absolute_url }}'class="btn btn-secondary" role="button">Add Items</a></td>
                        <td><a href="{% url 'finance:edit_invoice' invoice=x.id %}" class="btn btn-secondary" role="button">Edit Invoice</a></td>
                        <td><button  class="btn btn-primary-outline" hx-get="{% url 'finance:bulk_edit_invoices' vendor=x.vendor.id %}" hx-target="#dialog"><img src="{% static 'img/site/bulk-edit.svg' %}" style="width:20px;height:20px;"></button></td>
                    </tr>
                  {% endif %}
                {% endfor %}
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>{{ balance.total__sum|floatformat:2 }}</td>
                      <td>{{ calculated_total.calculated_total__sum|floatformat:2 }}</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </table>
                </div>
           <!-- <select class="custom-select mb-4" id="id_name" hx-trigger="change" name="name" hx-get="{% url 'finance:bills_by_vendor' %}" hx-target="#vendor_invoices">
              <option selected>Select Item</option>
              {% for x in vendors %}
                <option value="{{ x.id }}">{{ x.name }}</option>
              {% endfor %}
            </select> -->
            
            <div id="remainder"></div>
      </div>
    </div>
</div>

      <!-- <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
      </div> -->
      
      <div id="modal" class="modal fade"> 
        <div id="dialog" class="modal-dialog modal-lg" hx-target="this"></div>
      </div>


{% endblock content %}

{% block scripts %}

<script>

    $(document).ready(function () {
      $("#id_vendor").select2();
      $('#id_vendor').on('select2:select', (e) => {
        htmx.trigger("#id_vendor", "change")
      });
    })

    const modal = new bootstrap.Modal(document.getElementById("modal"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog") {
        modal.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
        modal.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog").innerHTML = ""
    })
    

    const modal2 = new bootstrap.Modal(document.getElementById("modal2"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog2") {
        modal2.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog2" && !e.detail.xhr.response) {
        modal2.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog2").innerHTML = ""
    })


</script>

{% endblock %}