{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}


<h1>Edit Bill Payable</h1>
<br/>

<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p>
          <p>
            <form method="POST" action="/finance/ap/edit_invoice/{{ pk }}/">
                {% csrf_token %}
                {% if message %}<mark class="red">{{ message }}</mark>{% endif %}
                <select class="custom-select mb-4" id="id_vendor" hx-trigger="change" name="vendor" hx-get="{% url 'finance:bills_by_vendor' %}" hx-target="#vendor_invoices">
                  <option selected>Select Item</option>
                  {% for x in vendors %}
                    <option value="{{ x.id }}">{{ x.name }}</option>
                  {% endfor %}
                </select>
                <br/>
                {% for field in form %}
                  {% if field.name != "void" and field.name != "void_reason" %}
                    <p>
                      {{ field.label_tag }}
                      {{ field }}
                      {% if field.help_text %}<small class="text-muted">{{ field.help_text }}</small>{% endif %}
                      {% for error in field.errors %}<div class="text-danger">{{ error }}</div>{% endfor %}
                    </p>
                  {% endif %}
                {% endfor %}

                <!-- <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
                <datalist id="datalistOptions">
                  {% for x in vendors %}
                    <option value="{{x.name}}">
                  {% endfor %}
                </datalist> -->
                <hr>

              <div class="form-check mt-2">
                {{ form.void }}
                <label class="form-check-label" for="{{ form.void.id_for_label }}">
                  Void this invoice
                </label>
              </div>

              <div class="mt-2">
                <label class="form-label" for="{{ form.void_reason.id_for_label }}">Void reason (optional)</label>
                {{ form.void_reason }}
              </div>

              {% if invoice_obj.void and invoice_obj.voided_at %}
                <div class="text-warning mt-2">
                  Voided at: {{ invoice_obj.voided_at }}
                </div>
              {% endif %}
            <br/>
                <button type="submit" class="btn btn-secondary">Update Invoice</button>

            </form>
      </div>
      <div class="col-sm-9">
        <div id="vendor_invoices">
          <a href="{% url 'finance:ap_add_invoice' %}">All Bills except Essendant</a> | <a href="{% url 'finance:ap_add_invoice_vendor' vendor=1 %}">Show Essendant Bills</a><br>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="">Vendor</th>
                  <th scope="col" class="">Date</th>
                  <th scope="col" class="">Amount</th>
                  <th scope="col" class="">Total</th>
                  <th scope="col" class="">Calculated Total</th>
                  <th scope="col" class="">Invoice #</th>
                  <th scope="col" class="">Date Due</th>
                  <th scope="col" class=""></th>
                  <th scope="col" class=""></th>
                  <th scope="col" class=""></th>
                </tr>
              </thead>
              <tbody>
                {% for x in bills %}
                <tr>
                    <td>{{ x.vendor }}</td>
                    <td>{{ x.invoice_date }}</td>
                    <td>{{ x.amount }}</td>
                    <td>{{ x.total }}</td>
                    <td>{{ x.calculated_total }}</td>
                    <td>{{ x.invoice_number }}</td>
                    <td>{{ x.date_due }}</td>
                    <td><a href='{{ x.get_absolute_url }}'class="btn btn-secondary" role="button">Add Items</a></td>
                    <td><a href="{% url 'finance:ap_edit_invoice' invoice=x.id %}" class="btn btn-secondary" role="button">Edit Invoice</a></td>
                    <td>Bulk Edit</td>
                </tr>
            {% endfor %}
          </table>
        </div>
         <!-- <select class="custom-select mb-4" id="id_name" hx-trigger="change" name="name" hx-get="{% url 'finance:bills_by_vendor' %}" hx-target="#vendor_invoices">
            <option selected>Select Item</option>
            {% for x in vendors %}
              <option value="{{ x.id }}">{{ x.name }}</option>
            {% endfor %}
          </select> -->
          <div id="vendor_invoices"></div>
          <div id="remainder"></div>
      </div>
    </div>
</div>



{% endblock %}