{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div hx-trigger="load, itemChanged from:body" hx-get="{% url 'finance:invoice_detail_highlevel' id=invoice.pk %}" hx-target="this"></div>


<div id="edit_invoice"></div>

<div class="container">
    
    
</div>
<p>

    <table class="table">
        <thead>
          <tr>
            <th scope="col" class="">Name</th>
            <th scope="col" class="">Description</th>
            <th scope="col" class="">Vendor Part Number</th>
            <th scope="col" class="">Invoice Qty</th>
            <th scope="col" class="">Invoice Unit</th>
            <th scope="col" class="">Invoice Unit Price</th>
            <th scope="col" class="">Unit Cost</th>
            <th scope="col" class="">Qty</th>
            <th scope="col" class="">Line Total</th>
            <th scope="col" class=""></th>
          </tr>
        </thead>
        <tbody>
            {% for x in items %}
            <tr>
                <td>{{ x.name }}</td>
                <td>{{ x.description }}</td>
                <td>{{ x.vendor_part_number }}</td>
                <td>{{ x.invoice_qty }}</td>
                <td>{{ x.invoice_unit.variation.name }} / {{ x.invoice_unit.variation_qty }}</td>
                <td>{% if x.invoice_unit_cost %}${{ x.invoice_unit_cost }}{% if x.ppm %} / M {% endif %}{% endif %}</td>
                <td>{{ x.unit_cost }}</td>
                <td>{{ x.qty }}</td>
                <td>{{ x.line_total }}</td>
                <td></td>
                <td>
                    <button hx-trigger="click" hx-get="{% url 'finance:edit_invoice_item' invoice=invoice.id id=x.id %}" hx-target="#invoices" class="btn btn-secondary">Edit</button>
                    <!-- <button hx-trigger="click" hx-get="{% url 'finance:delete_invoice_item' invoice=invoice.id id=x.id %}" hx-target="#invoices" class="btn btn-secondary">Delete</button>
                    <button hx-get="{% url 'finance:delete_invoice_item' invoice=invoice.id id=x.id %}" class="btn btn-secondary">Delete</button> -->
                    <a href="{% url 'finance:delete_invoice_item'  invoice=invoice.id id=x.id %}" class="btn btn-secondary" role="button">Delete</a>
                    
                </tr>

            </tr>
            {% endfor %}
        </tbody>
    </table>   
<p>
<!-- <div id="invoices">
 <button hx-trigger="click" hx-get="{% url 'finance:add_invoice_item' invoice=invoice.id %}" hx-target="#invoices" class="btn btn-danger">Add an item</button> 
</div> -->

<div id="invoices">
    {% if vendor.supplier %}<button hx-trigger="click" hx-get="{% url 'finance:add_invoice_item' invoice=invoice.id vendor=invoice.vendor.id %}" hx-target="#remainder" class="btn btn-danger">Add Invoice Item</button>{% endif %}
    <button hx-trigger="click" hx-get="{% url 'finance:add_invoice_item' invoice=invoice.id vendor=invoice.vendor.id type=1 %}" hx-target="#remainder" class="btn btn-danger">Add Non Inventory Item</button>
    <!-- {% if vendor.supplier %}<button hx-trigger="click" hx-get="{% url 'finance:add_invoice_item' invoice=invoice.id vendor=invoice.vendor.id %}" hx-target="#remainder" class="btn btn-danger">Add Supply Item</button>{% endif %}
    <button hx-trigger="click" hx-get="{% url 'finance:add_invoice_item' invoice=invoice.id vendor=invoice.vendor.id %}" hx-target="#remainder" class="btn btn-danger">Add Non Inventory Item</button> -->
</div>
<p>
<div id="remainder"></div>


<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
  </div>
  
{% endblock content %}



{% block scripts %}


<script>


    const modal = new bootstrap.Modal(document.getElementById("modal"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog") {
        modal.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
        modal.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog").innerHTML = ""
    })
    

    const modal2 = new bootstrap.Modal(document.getElementById("modal2"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog2") {
        modal2.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog2" && !e.detail.xhr.response) {
        modal2.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog2").innerHTML = ""
    })


</script>

{% endblock %}
