{% extends 'base.html' %}

{% block content %}

<h1>Bills Payable</h1>

<table class="table">
    <thead>
        <tr>
            <th>Invoice Date</th>
            <th>Vendor</th>
            <th>Description</th>
            <th>Invoice Number</th>
            <th>Amount</th>
            <th>Discount</th>
            <th>Discount Due Date</th>
        </tr>
    
{% for bill in bill_list %}
        {% if bill.paid is False %}
            <tr>
                <td>{{ bill.invoice_date }}</td>
                <td>{{ bill.vendor }}</td>
                <td>{{ bill.description }}</td>
                <td>{{ bill.invoice_number }}</td>
                <td>{{ bill.amount }}</td>
                <td>{{ bill.discount }}</td>
                <td>{{ bill.discount_date_due }}</td>
                <td><a href='{{ bill.get_absolute_url }}'class="btn btn-secondary" role="button">Edit</a></td>
            </tr>
        {% endif %}

    
    

{% endfor %}

</table>

{% endblock %}