{% load static %}
{% load crispy_forms_tags %}

# of pieces: <span id="quantity"></span>
<br/>
Width: <span id="width">{{ formdata. }}</span>
<br/>
Height: <span id="height">{{ formdata.qty_of_sheets }}</span>
<br/>
Width with margin: <span id="print_width">{{ formdata. }}</span>
<br/>
Height with margin: <span id="print_height">{{ formdata. }}</span>
<br/>
Material Width: <span id="media_width">{{ formdata. }}</span>
<br/>
Usable Width: <span id="usable_width">{{ formdata. }}</span>
<br/>
Pieces / Row:  <span id="prints_per_row">{{ formdata. }}</span>
<br/>
Number of Rows: <span id="number_of_rows">{{ formdata. }}</span>
<br/>
Media Length: <span id="media_length">{{ formdata. }}</span>
<br/>
&nbsp;
&nbsp;
<br/>
Material Cost: <span id="material_cost">{{ formdata. }}</span>
<br/>
Mask Cost: <span id="mask_cost">{{ formdata. }}</span>
<br/>
Laminate Cost: <span id="laminate_cost">{{ formdata. }}</span>
<br/>
Substrate Cost: <span id="substrate_cost">{{ formdata. }}</span>
<br/>
Ink Cost: <span id="ink_cost">{{ formdata. }}</span>
<br/>
Total Cost: <span id="total_material_cost">{{ formdata. }}</span>
<br/>
&nbsp;
&nbsp;
<br/>
Machine Cost: <span id="machine_cost">{{ formdata. }}</span>
<br/>
Labor Cost: <span id="labor_cost">{{ formdata. }}</span>
<br/>
<br/>
Admin Cost: <span id="admin_cost">{{ formdata. }}</span>
<br/>
Material Cost: <span id="id_material_costs">{{ formdata. }}</span>
<br/>
&nbsp;
&nbsp;
<br/>
Markup <span id="id_markup_percent">{{ formdata. }}</span>
<br/>
&nbsp;
&nbsp;
<br/>
Side one click charge: <span id="id_side_one_charge">{{ formdata. }}</span>
<br/>
Side two click charge: <span id="id_side_two_charge">{{ formdata. }}</span>
<br/>
&nbsp;
&nbsp;
<br/>
Count / Package: <span id="id_count_x">{{ formdata. }}</span>
<br/>
Delivery: <span id="id_delivery">{{ formdata. }}</span>
<br/>
Packing slip / invoice: <span id="id_packing_slip">{{ formdata. }}</span>
<br/>
&nbsp;
&nbsp;
<br/>

<br/>
Total Price:<span id="id_total">{{ formdata. }}</span>
