{% for paperprice in paperprices %}
<input label="Laminate Price" type="text" class="no-outline" id="id_laminate_price_per" name="laminate_price_per" value={{ paperprice.unit_cost }}> per {{paperprice.measurement}}<br>
<input type="hidden" id="laminate_measurement" name="laminate_measurement" value="{{paperprice.measurement}}">
{% if paperprice.width %} <input label="Width" type="text" class="no-outline" id="id_width" name="width" value={{ paperprice.width }}>{{paperprice.width}}{% endif %}
  {% endfor %}