{% load static %}
<html>
    <head>
        <meta charset='utf-8'>
        <title>PDF Test</title>
    </head>

    <body>
        {{customer}}
        <hr>
        {{customer.notes}}
        <br>
        {% if customer.logo %}
            {{ customer.logo}}
            <br>
            {{customer.logo.url}}
            <br>
            {{customer.logo.path}}
            <p>
            <img src="{{customer.logo.path}}" height='200'>
            <img src="media/{{customer.logo}}" height='200'>
            
        {% endif %}
        <br>
            <img src="static/img/site/copy-50.png" height='200'>


    </body>

</html>
