{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<script src="{% static 'js/order_out_form.js' %}"></script>
<script src="{% static 'js/setprice_form.js' %}"></script>

<div class="row">
  <div class="col-md-3 mb-sm-0">
    <div
      id="customer-info-card"
      class="card"
      hx-trigger="CustomerAdded from:body"
      hx-get="{% url 'customers:cust_info' %}?customer={{ customer.id }}"
      hx-target="this"
    >
      {% include 'customers/partials/customer_info.html' %}
    </div>
  </div>

  <div class="col-md-3">
    <div
      id="contact-card"
      class="card"
      hx-trigger="ContactChanged from:body"
      hx-get="{% url 'customers:contact_info' %}?contact={{ contact.id }}&workorder={{ changeworkorder }}&customer={{ changecustomer }}"
      hx-target="this"
    >
      {% include 'customers/partials/contact_info.html' %}
    </div>
  </div>

  <div class="col-md-3">
    {# empty column #}
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-header">Customer Order History</div>
      <div class="card-body">
        {% include 'workorders/partials/workorder_history.html' %}
      </div>
      <div class="card-footer"></div>
    </div>
  </div>
</div>

<hr>

{# =========================
   Bootstrap Modals (HTMX)
   ========================= #}

{# Modal 1 (normal) #}
<div id="modal" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    {# IMPORTANT: hx-target should inject into .modal-content (not .modal-dialog) #}
    <div id="dialog" class="modal-content"></div>
  </div>
</div>

{# Modal 2 (large) #}
<div id="modal2" class="modal fade" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div id="dialog2" class="modal-content"></div>
  </div>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/order_out_form.js' %}"></script>


{% endblock %}