{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<center><h4>A/R Dashboard</h4></center>

<br/>
<div class="row">
  <div class="col-sm-4">
    List of workorders
  </div>
  <div class="col-sm-4">
  </div>
  <div class="col-sm-4">
    <button hx-get="{% url 'finance:recieve_payment' %}" hx-target="#dialog" class="btn btn-success">Recieve Payment</button>
    <button hx-get="{% url 'finance:unrecieve_payment' %}" hx-target="#dialog" class="btn btn-danger">Remove Payment</button>
  </div>
</div>

<p>
<div class="row">
    <div id="workorders" class="col-sm-12">
      <select class="custom-select mb-4" id="customers" hx-trigger="change, itemListChanged from:body" name="customers" hx-get="{% url 'finance:open_workorders' %}" hx-target="#workorders">
      <option selected>Select Customer</option>
          {% for x in customers %}
            <option value="{{ x.id }}">{{ x.company_name }}</option>
          {% endfor %}
      </select>
    </div>
</div>










<div id="modal" class="modal fade">
    <div id="dialog" class="modal-dialog" hx-target="this"></div>
  </div>
  
  <div id="modal2" class="modal fade">
    <div id="dialog2" class="modal-dialog modal-lg" hx-target="this"></div>
  </div>





{% endblock content %}




{% block scripts %}


<script>


    $(document).ready(function () {
      $("#customers").select2();
      $('#customers').on('select2:select', (e) => {
        htmx.trigger("#customers", "change")
      });
    })


    $(document).ready(function() {
      $(window).keydown(function(event){
        if(event.keyCode == 13) {
          event.preventDefault();
          return false;
        }
      });
    });


    const modal = new bootstrap.Modal(document.getElementById("modal"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog") {
        modal.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
        modal.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog").innerHTML = ""
    })
    

    const modal2 = new bootstrap.Modal(document.getElementById("modal2"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog2") {
        modal2.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog2" && !e.detail.xhr.response) {
        modal2.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog2").innerHTML = ""
    })


</script>

{% endblock %}
