{% load static %}

{% block content %}

Add Inventory Item:
<p>
    <form action='/retail/add_inventory_item/' method="POST">
          {% csrf_token %}
            {{ form.as_p }}   
            
            <input type="hidden" id="invoice" name="invoice" value="{{ invoice }}">
                  
              
            
        <button type="submit">Save</button>
 
    </form>

    {% endblock content %}


    {% block scripts %}
    
    <script>
    
        $(document).ready(function () {
          $("#id_item").select2();
          $('#id_item').on('select2:select', (e) => {
            htmx.trigger("#id_item", "change")
          });
        })
    
        
    
    </script>
    
    {% endblock %}