{% load static %}

{% block content %}

<form action='/finance/AP/invoice_detail/' method="POST">
    {% csrf_token %}


    <!-- {{ form.as_p }}
        <input type="hidden" id="invoice" name="invoice" value="{{ invoice }}">
        <input type="hidden" id="vendor" name="vendor" value="{{ vendor }}">
        <button type="submit">Save</button>
</form> -->
<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <select class="custom-select mb-4" id="id_name" hx-trigger="change" name="name" hx-get="{% url 'finance:add_invoice_item' vendor=vendor invoice=invoice %}" hx-target="#remainder">
        <option selected>Select Item</option>
        {% for object in items %}
          <option value="{{ object.internal_part_number.id }}">{{ object.name }} -- {{object.description }} -- {{ object.vendor_part_number }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-sm-2">  
      <button  class="btn btn-primary-outline" hx-get="{% url 'finance:add_item_to_vendor' vendor=vendor invoice=invoice %}" hx-target="#remainder"><img src="{% static 'img/site/green_plus_48.png' %}" style="width:20px;height:20px;">Add Item to vendor</button>
    </div>
  </div>
</div>



  {% endblock content %}

{% block scripts %}

<script>

    $(document).ready(function () {
      $("#id_name").select2();
      $('#id_name').on('select2:select', (e) => {
        htmx.trigger("#id_name", "change")
      });
    })

    

</script>

{% endblock %}