{% load static %}
<!--<form action='/finance/ap/edit_invoice_item/{{ pk }}/' method="POST">-->
    <form action='/finance/ap/invoice_detail/{{ invoice }}/' method="POST">
    
    
    {% csrf_token %}
    
    <!-- Name: <input type="text" value="{{ name }}" name="name"> -->
    </br>
    Name: <input type="text" value="{{ name }}" name="name">
    </br>
    Vendor Part Number: <input type="text" value="{{ vpn }}" name="vendor_part_number"> <input type="checkbox" id="vpn_update" name="vpn_update" value="1"><label for="vpn_update">Update Part Number</label>
    </br>
    Description: <input type="text" value="{{ description }}" name="description"> <input type="checkbox" id="description_update" name="description_update" value="1"><label for="description_update">Update Description</label>
    </br>
    <br/>
    <!-- Variation: <select class="custom-select mb-4" id="variation" name="variation">

        {% if variation %}
            <option selected value="{{variation}}">{{ variation }} -- {{ variation_qty }}</option>
        {% else %}
            <option selected>Select Item</option>
        {% endif %}
            {% for x in variations %}
              <option value="{{ x.id }}">{{ x.variation.name }} -- {{ x.variation_qty }}</option>
            {% endfor %}
        </select>
        <br/> -->
        <div id="item_variation">
            Variation: <select class="custom-select mb-4" id="variation" name="variation">
        
                
                    {% for x in variations %}
                      <option value="{{ x.id }}">{{ x.variation.name }} -- {{ x.variation_qty }}</option>
                    {% endfor %}
                </select>
                
            
            <button  class="btn btn-primary-outline" hx-get="{% url 'controls:add_item_variation' %}" hx-target="#item_variation"><img src="{% static 'img/site/green_plus_48.png' %}" style="width:20px;height:20px;">Add Item variation</button>
            </br>
            
                
            </div>
        </br>
    Unit Cost: <input type="text" value="{{ unit_cost }}" name="invoice_unit_cost"> - <input type="checkbox" id="ppm" name="ppm" value="1"><label for="ppm">Priced / M</label><br>
    </br>
    Qty: <input type="text" value="{{ qty }}" name="invoice_qty">




    <input type="hidden" id="invoice" name="invoice" value="{{ invoice }}">
    <input type="hidden" id="pk" name="pk" value="{{ pk }}">
    <input type="hidden" id="internal_part_number" name="internal_part_number" value="{{ ipn }}">
    <input type="hidden" id="vendor" name="vendor" value="{{ vendor }}">
    <input type="hidden" id="name" name="name" value="{{ name }}">
    <input type="hidden" id="edit" name="edit" value="1">

    
    </br>
    <button type="submit">Save</button>
</form>

