{% load static %}
<form action='/finance/ap/invoice_detail/{{ invoice }}/' method="POST">
    
    {% csrf_token %}
    
    <!-- Name: <input type="text" value="{{ name }}" name="name"> -->
    </br>
    Vendor Part Number: <input type="text" value="{{ vpn }}" name="vendor_part_number">
    </br>
    Description: <input type="text" value="{{ description }}" name="description">
    </br>
    Primary Base Unit: {{ primary_base_unit }}
    </br>
</br>
    <div id="item_variation">
    Variation: <select class="custom-select mb-4" id="variation" name="variation">

        
            {% for x in variations %}
              <option value="{{ x.id }}">{{ x.variation.name }} -- {{ x.variation_qty }}</option>
            {% endfor %}
        </select>
        
    
    <button  class="btn btn-primary-outline" hx-get="{% url 'controls:add_item_variation' %}" hx-target="#item_variation"><img src="{% static 'img/site/green_plus_48.png' %}" style="width:20px;height:20px;">Add Item variation</button>
    </br>
    
        
    </div>
    Unit Cost: <input type="text" name="invoice_unit_cost"> - <input type="checkbox" id="ppm" name="ppm" value="1"><label for="ppm">Priced / M</label><br>
    </br>
    Qty: <input type="text" name="invoice_qty">



    <input type="hidden" id="invoice" name="invoice" value="{{ invoice }}">
    <input type="hidden" id="vendor" name="vendor" value="{{ vendor }}">
    <input type="hidden" id="name" name="name" value="{{ name }}">
    <input type="hidden" id="internal_part_number" name="internal_part_number" value="{{ ipn }}">
    
    </br>
    <button type="submit">Save</button>
</form>
    

