{% load static %}
<div class="input-group" class="flex-row">
<select class="custom-select mb-4" id="id_contacts" name="contacts">

    <option value='' selected>Select Contact</option>
    {% for object in contacts %}
      <option value="{{ object.id }}">{{ object.fname }} {% if object.lname %}{{object.lname }}{% endif %}</option>
    {% endfor %}
</select>
<br/>

{% if customer %}
    <button class="btn-small-icon" hx-get="{% url 'customers:new_cust_contact' %}?customer={{ customer }}" hx-target="#dialog">
      <div class="addbutton">
      <img src="{% static 'img/site/green_plus_48.png' %}" style="width:20px;height:20px;">
      </div>
    </button>
    <button class="btn-small-icon" hx-get="{% url 'customers:contacts' %}?customer={{ customer }}" hx-target="#contacts">
      <div class="updatebutton">
      <img src="{% static 'img/site/icons8-update-30.png' %}" style="width:20px;height:20px;">
      </div>
    </button>
{% endif %}


  </div>

  {% if history%}
  <b> Customer History:</b>
  {% endif %}
  <ul>
    {% for x in  history %}
    
        <li><a href="{% url 'workorders:overview' id=x.workorder %}">{{ x.workorder }} 
          {% if x.lk_workorder %} --{{ x.lk_workorder }} {% elif x.printleader_workorder %}  --{{x.printleader_workorder }} {% endif %} -- {{ x.description }}</a></li>
    
    {% endfor %}
    </ul>