<div id="customers">
<h1>{{ company }} Customers</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Company Name</td>
            <td>Address 1</td>
            <td>Address 2</td>
            <td>City</td>
            <td>State</td>
            <td>Zipcode</td>
        </tr>
    </thead>
    {% for x in unique_list %}
        <tr>
            <td>{{ x.customer.company_name }}</td>
            <td>{{ x.customer.address1 }}</td>
            <td>{{ x.customer.address2 }}</td>
            <td>{{ x.customer.city }}</td>
            <td>{{ x.customer.state }}</td>
            <td>{{ x.customer.zipcode }}</td>
        </tr>
    {% endfor %}
</table>

<p>
    <p>
        Customers to follow up with


        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>Company Name</td>
                    <td>Address 1</td>
                    <td>Address 2</td>
                    <td>City</td>
                    <td>State</td>
                    <td>Zipcode</td>
                </tr>
            </thead>
            {% for x in unique_list %}
                {% if x.old %}
                <tr>
                    <td>{{ x.customer.company_name }}</td>
                    <td>{{ x.customer.address1 }}</td>
                    <td>{{ x.customer.address2 }}</td>
                    <td>{{ x.customer.city }}</td>
                    <td>{{ x.customer.state }}</td>
                    <td>{{ x.customer.zipcode }}</td>
                    <td>{{ x.customer.older_ninety }}
                </tr>
                {% endif %}
            {% endfor %}
        </table>