{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<script src="{% static 'js/order_out_form.js' %}"></script>
<script src="{% static 'js/setprice_form.js' %}"></script>
<select class="custom-select mb-4" id="customers" hx-trigger="change, itemListChanged from:body" name="customers" hx-get="{% url 'customers:expanded_detail' %}" hx-target="#customers">
    <option value="{{ customer.id}}" selected>{{customer}}</option>
        {% for x in customers %}
          <option value="{{ x.id }}">{{ x.company_name }}</option>
        {% endfor %}
    </select>
Open Balance: {{ balance.total_balance__sum|floatformat:2 }}
<div class="row">
  <div class="col-md-3 mb-sm-0">
    <div id="customer-info-card" class="card" hx-trigger="CustomerAdded from:body" hx-get="{% url 'customers:cust_info'  %}?customer={{ customer.id }}" hx-target="this">
      {% include 'customers/partials/customer_info.html' %}
      </div>
  </div>
  <div class="col-md-3">
    <div id="contact-card" class="card" hx-trigger="ContactChanged from:body" hx-get="{% url 'customers:contact_info'  %}?contact={{ contact.id }}&workorder={{changeworkorder}}&customer={{changecustomer}}" hx-target="this">
      {% include 'customers/partials/contact_info.html' %}
      </div>
  </div>
  <div class="col-md-3">
      
  </div>
  <div class="col-md-3">
      <div class="card">
          <div class="card-header">
          Customer Order History
          </div>
          <div class="card-body">
            {% include 'workorders/partials/workorder_history.html' %}
          </div>
          <div class="card-footer"></div>
      </div>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-4">
        Active Workorders
        <p><ul>
            {% for x in  workorders %}
            <li><a href='{{ x.get_absolute_url }}'>{{ x.workorder }} -- {{ x.description }}</a></li>
            {% endfor %}
            </ul></p>
    </div>
    <div class="col-sm-4">
        Recently Completed
        <p><ul>
            {% for x in  completed %}
            <li><a href='{{ x.get_absolute_url }}'>{{ x.workorder }} -- {{ x.description }}</a></li>
            {% endfor %}
            </ul></p>
    </div>
    <div class="col-sm-4">
        Quotes
        <p><ul>
            {% for x in  quote %}
            <li><a href='{{ x.get_absolute_url }}'>{{ x.workorder }} -- {{ x.description }}</a></li>
            {% endfor %}
            </ul></p>
    </div>
    {% if voided %}
    <div class="col-sm-3">
        Voided / Refunded Workorders
        <p><ul>
            {% for x in  quote %}
            <li><a href='{{ x.get_absolute_url }}'>{{ x.workorder }} -- {{ x.hr_customer }}</a></li>
            {% endfor %}
            </ul></p>
    </div>
    {% endif %}
</div>
</div>

<hr>





































<div id="modal" class="modal fade">
  <div id="dialog" class="modal-dialog" hx-target="this"></div>
</div>

<div id="modal2" class="modal fade">
  <div id="dialog2" class="modal-dialog modal-lg" hx-target="this"></div>
</div>





























{% endblock content %}


{% block scripts %}

<script src="{% static 'js/order_out_form.js' %}"></script>

<script>

  

    $(document).ready(function () {
      $("#id_customer").select2();
      $('#id_customer').on('select2:select', (e) => {
        htmx.trigger("#id_customer", "change")
      });
    })

    const modal = new bootstrap.Modal(document.getElementById("modal"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog") {
        modal.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
        modal.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog").innerHTML = ""
    })
    

    const modal2 = new bootstrap.Modal(document.getElementById("modal2"))

    htmx.on("htmx:afterSwap", (e) => {
      // Response targeting #dialog => show the modal
      if (e.detail.target.id == "dialog2") {
        modal2.show()
      }
    })

    htmx.on("htmx:beforeSwap", (e) => {
      // Empty response targeting #dialog => hide the modal
      if (e.detail.target.id == "dialog2" && !e.detail.xhr.response) {
        modal2.hide()
        e.detail.shouldSwap = false
      }
    })

    htmx.on("hidden.bs.modal", () => {
      document.getElementById("dialog2").innerHTML = ""
    })


</script>

{% endblock %}