

<div class="card-header">
    Contact Info
    </div>
        <div class="card-body" id="contactinfo">
            <h5 class="card-title">{% if contact %}{{ contact.fname}} {% if contact.lname %}{{contact.lname }}{% endif %}</h5>
            <p class="card-text">
                Address: {{ contact.address1 }} <br/>
                {% if contact.address2 %}{{contact.address2}}{% endif %}<br/>  
                {{ contact.city }}, {{contact.state}} {{contact.zipcode }}<br/>
                Phone: {{ contact.phone1 }}<br/>
                Email: {{ contact.email }}<br/>
                {% endif %}
            
        </div>
        <div class="card-footer">
          <button hx-get="{% url 'customers:edit_contact' %}?contact={{ contact.id }}&customer={{ cust}}" hx-target="#dialog">Edit</button>
          <button hx-get="{% url 'customers:new_contact' %}?customer={{ cust }}" hx-target="#dialog">Add</button>
          <button hx-get="{% url 'customers:change_contact' %}?customer={{ cust }}" hx-target="#dialog">Change</button>
          <button hx-get="{% url 'customers:details_contact_info' %}?contact={{ contact.id }}&customer={{cust}}" hx-target="#contact-card">Refresh</button>
        </div>