{% load static %}
<div class="card-header">
    Invoice Status
    </div>
        <div class="card-body" id="contactinfo">
            <h5 class="card-title"></h5>
            <p class="card-text">
                <table>
                    <tr>
                        <td><img src="{% static 'img/site/billed-50.png' %}" style="width:20px;height:20px;"></td><td>Billed</td>
                        <td><img src="{% static 'img/site/overduebill-50.png' %}" style="width:20px;height:20px;"></td><td>Overdue</td>
                        <td><img src="{% static 'img/site/paidbill-50.png' %}" style="width:20px;height:20px;"></td><td>Paid</td>
                    </tr>
                </table>
                
        </div>
        