{% load static %}
{% for object in items %}
    <tr>
        <td>{{ object.item_category }}</td>
        <td>{{ object.item_subcategory.name }}</td>
        <td>{{ object.description }}</td>
        <td>{% if object.quantity %}{{ object.quantity }}{% endif %}</td>
        <td>{% if object.unit_price %}{{ object.unit_price }}{% endif %}</td>
        <td>{% if object.total_price %}{{ object.total_price }}{% endif %}</td>
        <td>
            <!-- Edit Items to big to fit in modal -->
            {% if object.item_category.modal != 1 %}
                {% if object.item_category.template == 1 or object.item_subcategory.template == 1 %}
                    <!-- Edit Category items with predefined templates-->
                    <a href="{{ object.edit_template_item_url }}" class="btn btn-primary btn-sm" role="button">Edit Template</a>
                {% else %}
                    <!-- Edit category item without template -->
                    <a href="{{ object.edit_print_item_url }}" class="btn btn-primary btn-sm" role="button">Edit</a>
                {% endif %}
            {% endif %}
            <!-- Edit templates that fit in modals-->
            {% if object.item_category.modal == 1 %}
                <!-- Edit Design item-->
                {% if object.item_category.customform == 1 %}
                    <button class="btn btn-primary btn-sm" hx-get="{% url 'workorders:edit_modal_item' pk=object.pk cat=object.item_category_id %}" hx-target="#dialog">Edit Modal</button>
                {% else %}
                <!-- Edit other category with modal templates-->
                    <button class="btn btn-primary btn-sm" hx-get="{% url 'pricesheet:edititem' id=object.workorder_id pk=object.pk cat=object.item_category_id %}" hx-target="#dialog2">Something's broken</button>
                {% endif %}
            {% endif %}
        </td>
        <td>   
            <button class="btn btn-primary btn-sm" hx-get="{% url 'workorders:copy_workorder_item' pk=object.pk workorder=object.workorder %}" hx-target="#dialog">Copy</button>
            <button class="btn btn-primary btn-sm" hx-get="{% url 'workorders:copy_workorder_item' pk=object.pk%}" hx-target="#dialog">Copy To:</button>
        </td>
        <td>
            {% if object.notes %}
                <button class="btn btn-primary-outline" hx-get="{% url 'workorders:notes' pk=object.pk%}" hx-target="#dialog">
                    <img src="{% static 'img/site/alert-note-30.png' %}" style="width:20px;height:20px;">
                </button>
            {% else %}
                <button class="btn btn-primary-outline" hx-get="{% url 'workorders:notes' pk=object.pk%}" hx-target="#dialog">
                    <img src="{% static 'img/site/emptynote-32.png' %}" style="width:20px;height:20px;">
                </button>
            {% endif %}

                
        </td>

        <td id='taxexempt_{{object.pk}}'>{% if object.tax_exempt == 0%}
            <button class="btn btn-primary btn-sm" hx-get="{% url 'workorders:tax' tax=object.tax_exempt id=object.pk %}" hx-target="#taxexempt_{{object.pk}}">Tax</button>
            {% else %}
            <button class="btn btn-primary btn-sm" hx-get="{% url 'workorders:tax' tax=object.tax_exempt id=object.pk%}" hx-target="#taxexempt_{{object.pk}}">NonTax</button>
            {% endif %}
        </td>
        
        
        
        
        
        
        
        <td>{% if object.last_item_order %}{{object.last_item_order}}{% endif %}</td>
        <td>{% if object.last_item_order %}{{object.last_item_price}}{% endif %}</td>
        
        
    </tr>

{% endfor %}
    

    {% if total.total_price__sum %} 
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><b>Total Price:</b></td>
        <td><b>{{ total.total_price__sum|floatformat:2 }}</b></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endif %}



