{% load crispy_forms_tags %}


<div class="row">
    <div class="col-sm-4">
        Active Workorders
        <p><ul>
            {% for x in  workorders %} 
            <li><a href='{{ x.get_absolute_url }}'>{{ x.lk_workorder }} -- {{ x.customer.company_name }}</a></li>
            {% endfor %}
            </ul></p>
        <P>
            Order Outs
            <p><ul>
                {% for x in orderout %}
                <li><a href='{{ x.get_absolute_url }}'>{{ x.lk_workorder }} -- {{ x.customer.company_name }}</a></li>
                {% endfor %}
            </ul></p>
    </div>
    <div class="col-sm-4">
        Recently Completed
        <p><ul>
            {% for x in  completed %}
            <li><a href='{{ x.get_absolute_url }}'>{{ x.lk_workorder }} -- {{ x.customer.company_name }}</a></li>
            {% endfor %}
            </ul></p>
    </div>
    <div class="col-sm-4">
        Quotes
        <p><ul>
            {% for x in  quote %}
            <li><a href='{{ x.get_absolute_url }}'>{{ x.lk_workorder }} -- {{ x.customer.company_name }}</a></li>
            {% endfor %}
            </ul></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
</div>