<h5 class="card-title">Invoice #: {{ workorder.workorder }}</h5>
              <p class="card-text">
                      Internal Company: {{ workorder.internal_company }}<br/>
                      Description: {{ workorder.description }}<br/>
                      Deadline: {{ workorder.deadline }}<br/>
                      P.O. Number: {{ workorder.po_number }}<br/>
                      Budget: {{ workorder.budget }} Quoted Price: {{ workorder.quoted_price }}<br/>
                      Original Order #: {{ workorder.original_order }}<br/>
                      LK Workorder #: {{ workorder.lk_workorder }}<br/>
                      Printleader Order #: {{ workorder.printleader_workorder }}