{% extends "base.html" %}

{% block content %}

<center><h4>Search results</h4></center>
{% if open %}
    Open Workorders:
    <br>
    {% for x in open %}
        <li><a href='{{ x.get_absolute_url }}'>{{ x.workorder }} -- {{ x.hr_customer }}</a>{% if x.description %} - {{ x.description }}{% endif %}{% if x.lk_workorder %} - LK: {{ x.lk_workorder }} {% elif x.printleader_workorder %} - PL: {{ x.printleader_workorder}}{% elif x.kos_workorder %} - KOS: {{ x.kos_workorder}}{% endif %}{% if x.void %}<span style="color:red;">Void</span>{% endif %}</li>
    {% endfor %}
{% endif %}
<p>
{% if workorders %}
    Workorders:
    <br>
    {% for x in workorders %}
        <li><a href='{{ x.get_absolute_url }}'>{{ x.workorder }} -- {{ x.hr_customer }}</a>{% if x.description %} - {{ x.description }}{% endif %}{% if x.lk_workorder %} - LK: {{ x.lk_workorder }} {% elif x.printleader_workorder %} - PL: {{ x.printleader_workorder}}{% elif x.kos_workorder %} - KOS: {{ x.kos_workorder}}{% endif %}{% if x.void %}<span style="color:red;">Void</span>{% endif %}</li>
    {% endfor %}
{% endif %}
<p>
{% if workorder_item %}
Workorders Items:
<p>
{% for x in workorder_item %}
    <li><a href='{{ x.get_absolute_url }}'>{{ x.workorder }} -- {{ x.workorder.hr_customer }}</a></li>
{% endfor %}
{% endif %}
<p>
{% if customer %}
Customers:
<p>
{% for x in customer %}
<li><a href='{{ x.get_absolute_url }}'>{{ x.company_name }}</a>{% if not x.active %}<span style="color:red;"> - Inactive</span>{% endif %}</li>
{% endfor %}
<p>
{% endif %}
{% if contact %}
<p>
    Contact:
    <br>
    {% for x in contact %}
    <li><a href='{{ x.get_absolute_url }}'>{{ x.fname }} {{x.lname}} -- {{ x.customer.company_name }}</a></li>
    {% endfor %}
{% endif %}



{% endblock content %}