{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
Items without a primary base unit
<p>

<form action='/controls/add_primary_baseunit/' method="POST">
{% csrf_token %}

    <select class="custom-select mb-4" id="unit" name="unit">
        <option selected>Select Base Unit</option>
        {% for x in units %}
            <option value="{{ x.id }}">{{ x.name }} </option>
        {% endfor %} 
    </select>
Number per unit: <input type="text" name="qty">
    <br/>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td></td>
            </tr>
        </thead>
        {% for x in items %}
            {% if not x.primary_base_unit %}
            <tr>
                <td>{{x.name}}</td>
                <td>{{x.description}}</td>
                <td><input name="item" type="checkbox" value="{{ x.id }}" /></td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    <button type="submit">Update Base Unit</button>
</form>
<p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Base Unit</td>
                <td>Units per base unit</td>
            </tr>
        </thead>
        {% for x in items %}
            {% if x.primary_base_unit %}
            <tr>
                <td>{{x.name}}</td>
                <td>{{x.description}}</td>
                <td>{{x.primary_base_unit}}</td>
                <td>{{x.units_per_base_unit}}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>




  {% endblock content %}