
{% load crispy_forms_tags %}
{% load static %}




{% block content %}
{% if message %}{{ message }}{% endif %}
<form action='/controls/add_price_group_item/' method="POST">
    {% csrf_token %}
<button  class="btn btn-secondary" hx-get="{% url 'controls:add_price_group_item' id=group_id list='all' %}" hx-target="#itemdisplay">Items not in a group or removed from grouping</button>
<button  class="btn btn-secondary" hx-get="{% url 'controls:add_price_group_item' id=group_id list='group' %}" hx-target="#itemdisplay">Items in a group</button>
<button  class="btn btn-secondary" hx-get="{% url 'controls:add_price_group_item' id=group_id list='nogroup' %}" hx-target="#itemdisplay">Items removed from grouping</button>
Remove item from grouping: <input name="notgrouped" type="checkbox" value="1">

<p>
<br/>

Add Pricing Group Item
<p>
<div id="itemdisplay">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td></td>
                <td>Grouped</td>
                <td>Not Grouped</td>
                
            </tr>
        </thead>
        {% for x in items %}
            {% if not x.grouped and not x.not_grouped %}
            <tr>
                <td>{{x.name}}</td>
                <td>{{x.description}}</td>
                <td><input name="item" type="checkbox" value="{{ x.id }}" /></td>
                <td>{% if x.grouped %}G{% endif %}</td>
                <td>{% if x.not_grouped %}N{% endif %}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

<input type="hidden" id="group_id" name="group_id" value="{{ group_id }}">

    <button type="submit">Add Item to group</button>
</form>





  {% endblock content %}


  {% block scripts %}

<script>

    $(document).ready(function () {
      $("#id_vendor").select2();
      $('#id_vendor').on('select2:select', (e) => {
        htmx.trigger("#id_vendor", "change")
      });
    })

    $(function () {
        $("#chkgrouped").click(function () {
            if ($(this).is(":checked")) {
                $("#grouped").hide();
            } else {
                $("#grouped").show();
            }
        });
    });

    

</script>

{% endblock %}