{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>Company</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Address 1</td>
            <td>Address 2</td>
            <td>City</td>
            <td>State</td>
            <td>Zipcode</td>
        </tr>
    </thead>
    {% for x in unique_list %}
        {% if not x.customer.address1 or not x.customer.city or not x.customer.zipcode %}
        <tr>
            <td>{{x.hr_customer}}</td>
            <td>{{x.customer.first_name}}</td>
            <td>{{x.customer.last_name}}</td>
            <td>{{x.customer.address1}}</td>
            <td>{{x.customer.address2}}</td>
            <td>{{x.customer.city}}</td>
            <td>{{x.customer.state}}</td>
            <td>{{x.customer.zipcode}}</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>


  {% endblock content %}