{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<H1>Utilities - Use with caution - These will break the system</h1>
<a href="{% url 'workorders:complete_allitems' %}">Complete Items for Completed Workorders</a>
<br>
<a href="{% url 'controls:mark_all_verified' %}">Mark all workorders verified</a>
<br>
<a href="{% url 'controls:mark_all_invoiced' %}">Mark all workorders invoiced</a>
<br>
<a href="{% url 'controls:update_complete_date' %}">Add date to completed invoices</a>
<br>
<a href="{% url 'controls:customer_shipto' %}">Add Shipto address for each customer</a>
<br>
<a href="{% url 'controls:workorder_ship' %}">Add Primary Shipping to each workorder</a>
<br>
<a href="{% url 'controls:create_inventory_from_inventory' %}">Create Inventory from Inventory</a>
<br>
<a href="{% url 'controls:add_internal_part_number' %}">Add Internal Part number to all invoice items table</a>
<br>
<a href="{% url 'controls:get_highest_item_price' %}">Get highest price for item</a>









{% endblock content %}