{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<H1>Utilities - Use with caution</h1>




<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="{% url 'controls:special_tools' %}">Tools for setup and maintenance</a><br>
        <a href="{% url 'controls:missing_workorders' %}">Missing Workorders</a><br>
        <a href="{% url 'controls:cust_history' %}">Customers with workorder history</a><br>
        <a href="{% url 'controls:cust_address' %}">Customers with Addresses</a><br>
        <a href="{% url 'controls:cust_wo_address' %}">Customers without Addresses</a><br>
        <a href="{% url 'printleader:printleader_history' %}">Printleader History</a><br>
        <a href="{% url 'controls:items_missing_details' %}">Items missing details</a><br>
        <a href="{% url 'controls:high_price_item' %}">List High Price Items (cron)</a><br>
      </div>
      <div class="col-sm-3">
        Update existing inventory<br>
        <a href="{% url 'controls:add_primary_vendor' %}">Add Primary Vendor to Inventory Item</a><br>
        <a href="{% url 'controls:add_primary_baseunit' %}">Add Primary Base Unit</a><br>
        <a href="{% url 'controls:add_units_per_base_unit' %}">Add Units per Base Unit</a><br>
        <a href="{% url 'controls:view_price_groups' %}">View Price Groups</a><br>
        <a href="{% url 'controls:add_base_qty_variation' %}">Add Base Qty Variation</a><br>
      </div>
    </div>
</div>


{% endblock content %}