{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<H1>Utilities - Use with caution</h1>
<a href="{% url 'controls:special_tools' %}">Tools for setup and maintenance</a>
<br>
<a href="{% url 'controls:missing_workorders' %}">Missing Workorders</a>
<br>
<a href="{% url 'controls:cust_history' %}">Customers with workorder history</a>
<br>
<a href="{% url 'controls:cust_address' %}">Customers with Addresses</a>
<br>
<a href="{% url 'controls:cust_wo_address' %}">Customers without Addresses</a>





{% endblock content %}