{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="col-md-6 offset-md-3">
<h1>Add Inventory Item</h1>
<br/>

<form method="POST" action="{% url 'inventory:add_inventory_item' %}">
    {% csrf_token %}

    {{ form.invoice_date|as_crispy_field }}

    

    <select id="item"
        name="item" 
        >

        <option selected>Select Paper stock</option>
        
        
        
        {% for x in item %}
            <option value="{{x.pk}}">{{ x.name }}</option>
            {% endfor %}
    </select>

{{ form.vendor|as_crispy_field }}

{{ form.vendor_item_number|as_crispy_field }}

{{ form.invoice_number|as_crispy_field }}

{{ form.shipped_uom|as_crispy_field }}

{{ form.shipped_qty|as_crispy_field }}

{{ form.internal_uom|as_crispy_field }}

{{ form.internal_qty|as_crispy_field }}

{{ form.price_per_m|as_crispy_field }}

{{ form.total_price|as_crispy_field }}


<br/>
    <button type="submit" class="btn btn-secondary">Add Inventory Item</button>

</form>

</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/order_out_form.js' %}"></script>

<script>

  

    $(document).ready(function () {
      $("#paper_stock").select2();
      $('#paper_stock').on('select2:select', (e) => {
        htmx.trigger("#paper_stock", "change")
      });
    })

</script>

{% endblock %}