<table class="table table-sm">
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Payment Type</th>
      <th>Number</th>
      <th>Memo</th>
    </tr>
  </thead>
  <tbody>
    {% for x in payments %}
      <tr>
        <td>{{ x.date }}</td>
        <td>{{ x.amount }}</td>
        <td>{{ x.payment_type }}</td>
        <td>
          {% if x.check_number %}{{ x.check_number }}
          {% elif x.giftcard_number %}{{ x.giftcard_number }}
          {% endif %}
        </td>
        <td class="text-muted">{{ x.memo }}</td>
      </tr>
    {% empty %}
      <tr><td colspan="5" class="text-muted">No payments.</td></tr>
    {% endfor %}
  </tbody>
</table>